<header class="header mb-3">
    <div id="header-img" class="text-center">
        <a href="{{ route(router, 'main-home') }}"><img class="img-fluid" src="/assets/imgs/Logo_book.png" alt="Responsive image" width="150"></a>
    </div>
    <nav class="navbar navbar-expand-sm bg-primary p-3 justify-content-center">
            {% include 'partials/navbar.twig' %}
    </nav>
</header>