<ul class="navbar-nav w-100 justify-content-center">
    <li>
        <button class="w-30 p-2 btn btn-danger">
            <a href="{{ route(router, 'session-logout') }}" class="text-white text-decoration-none p-2">Se déconnecter</a>
        </button>
    </li>
</ul>