{% extends "base.twig" %}

{% block title %}
    Tous les articles - {{ parent() }}
    {#  Ici le {{ parrent() }} permet de récupérer le contenu du block déjà existant dans le fichier base.twig  #}
{% endblock %}

{% block header %}
    <header class="header mb-3">
        <div id="header-img" class="text-center">
            <a href="{{ route(router, 'main-home') }}"><img class="img-fluid" src="/assets/imgs/Logo_book.png" alt="Responsive image"
                                      width="150"></a>
        </div>
        <nav class="navbar navbar-expand-sm bg-primary p-3 justify-content-center">
            {% include 'partials/navbar-admin.twig' %}
        </nav>
    </header>
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <form action="" method="post">
                <div class="row">

                    {% if success is not empty %}
                        {% for succ in success %}
                            <div class="col-12">
                                <div class="alert alert-dismissible alert-success">
                                    {{ succ|raw }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="col-md-6 col-12">
                        <div class="form-group mb-3">
                            <label for="title">Titre de l'article</label>
                            <input type="text" name="title" id="title" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <div class="form-group mb-3">
                            <label for="author">Auteur de l'article</label>
                            <input type="text" name="author" id="author" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <div class="form-group mb-3">
                            <label for="slug">URL de l'article</label>
                            <input type="text" name="slug" id="slug" class="form-control">
                            <span class="text-muted">Exemple : monsite.fr/article/<span class="fw-bold">mon-url-personalisée</span></span>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <div class="form-group mb-3">
                            <label for="image">Image de l'article</label>
                            <input type="text" name="image" id="image" class="form-control">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label for="content">Contenu de l'article</label>
                            <textarea name="content" id="content" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary w-100">Ajouter l'article</button>
                    </div>

                    {#pour le moment, l'image on va la mettre à la main, vue qu'on a pas encore de systemee d'upload d'image :) #}

                </div>
            </form>
        </div>
    </main>
{% endblock %}
