{% extends "base.twig" %}

{% block title %}
    A propos - {{ parent() }}
{% endblock %}


{% block content %}
    <main>
        <section class="container">
            <div class="row">
                <div class="col-md-8 col-12">
                    <h1 class="mb-5 text-decoration-underline">A propos</h1>
                    <p>Je m’appelle Camille et je suis étudiante. Je suis passionnée par la lecture et les livres.
                        Depuis
                        mon plus jeune âge, je suis intriguée par les mondes imaginaires et les histoires inspirantes
                        que
                        les livres peuvent offrir. Cette passion m'a conduit à créer ce site. </p>
                    <p>Avec une grande expertise en littérature, j’écris des critiques de livres passionnantes et des
                        articles sur les dernières sorties dans le monde littéraire. Suivez mes critiques et articles
                        pour
                        découvrir de nouveaux livres incroyables et pour une perspective unique sur les classiques de la
                        littérature.</p>

                    <div class="row">
                        <div class="col-8 mx-auto">
                            <figure class="huge-margin">
                                <blockquote class="blockquote">
                                    <p class="display-6 mb-0">"You see but you do not observe"</p>

                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    Arthur Conan Doyle
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <p>Je suis également t active sur les réseaux sociaux où je partage régulièrement mes découvertes
                        littéraires et mes réflexions sur les livres que je lis. Rejoignez moi dans ma quête de
                        découvrir
                        les meilleurs livres et les histoires les plus inspirantes !</p>
                </div>
                <div class="col-md-4 col-12">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <img src="/assets/imgs/img_profil.png" alt="Image de profile" class="card-img-top h-100 w-100">
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

