{% extends "base.twig" %}


{% block content %}
    <main>

        <section id="main" class="container">
            <div class="row">
                <div class="col-md-9 col-12">
                    <div class="row">
                        <div class="col-12 p-3">
                            <div class="card flex-md-row flex-column">
                                <img src="https://picsum.photos/720/1000" alt="Card image" class="m-4" width="200">
                                <div class="card-body align-self-center ms-5 h-100">
                                    <p class="text-muted">{{ dernier_article[0].author }}</p>
{#                                    ici, je doit mettre un [0] car c'est un tableau, mais avec une seule valeur qui est notre article le plus récent#}
                                    <h2 class="card-title">{{ dernier_article[0].title }}</h2>
                                    <p class="card-text my-3">{{ dernier_article[0].content|slice(0, 230)|raw }} ...</p>
                                    <a href="{{ route(router, 'show-post', {slug: dernier_article[0].slug}) }}" class="btn btn-primary">Lire plus</a>
                                </div>
                            </div>
                        </div>

                        {% for un_seul_livre in la_list_des_livres %}
                            {% include 'partials/components/post-card.twig' with {
                                'post' : un_seul_livre
                            } %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-3 col-12 p-3">
                    <div class="card bg-primary-soft h-100">
                        <div class="card-header m-3" style="background-color: rgba(0, 0, 0, 0)">
                            <img class="card-img-top h-100" src="/assets/imgs/img_profil.png" alt="Card image cap">
                        </div>
                        <div class="card-body h-100">
                            <h5 class="card-title">Camille Regnier-Debrun</h5>
                            <p class="text-48 fw-light">Etudiante en marketing digital</p>
                            <p class="" style="text-align: justify">Depuis mon plus jeune âge, je suis intriguée par les
                                mondes imaginaires et les histoires inspirantes que les livres peuvent offrir. Cette
                                passion
                                m'a conduit à créer ce site. Suivez mes critiques et articles pour découvrir de nouveaux
                                livres incroyables et pour une perspective unique sur les classiques de la
                                littérature.</p>
                            <div id="socials" class="d-flex justify-content-center"
                                 style="position: absolute; bottom: 17px; left: 50%; right: 100%">
                                <a href="#" class="text-primary m-2 fs-4"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="text-primary m-2 fs-4"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="text-primary m-2 fs-4"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

