{% extends "base.twig" %}


{% block content %}
    <main>
        <section>
            <div class="container mt-5 mb-5">
                <div class="row m-0">
                    <div class="col-12 p-0 pt-4 pb-4">
                        <form class="bg-white p-4 m-auto" METHOD="post" action="/login">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Identifiant</label>
                                        <input type="email"  name="email" class="form-control" id="exampleFormControlInput1">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                                        <input type="password" name=password class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <button type="submit" class="btn btn-primary border-0 mt-3">Connexion</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

