{% extends "base.twig" %}


{% block content %}
    <main>
        <section class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h1 class="mb-5 mt-5">Titre de l'article</h1>
                    <img class="img-responsive mb-5 mx-auto d-block" src=/imgs/img_article_accueil.jpg style=width:60%>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, pariatur, quibusdam. Animi
                        assumenda corporis delectus ducimus enim illo illum porro quos repudiandae soluta tenetur vero
                        vitae, voluptatum. Commodi laudantium, quisquam. A at deleniti deserunt excepturi ipsum,
                        laudantium
                        nihil qui. Adipisci error, esse in
                        iusto laborum laudantium modi molestiae mollitia necessitatibus odit porro, quaerat unde velit?
                        Id
                        illo nemo nostrum similique. Enim maiores molestias pariatur.</p>
                    <h2 class="mb-3 mt-3 text-center">Titre de l'article et image en bg</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, pariatur, quibusdam. Animi
                        assumenda corporis delectus ducimus enim illo illum porro quos repudiandae soluta tenetur vero
                        vitae, voluptatum. Commodi laudantium, quisquam. A at deleniti deserunt excepturi ipsum,
                        laudantium
                        nihil qui. Adipisci error, esse in
                        iusto laborum laudantium modi molestiae mollitia necessitatibus odit porro, quaerat unde velit?
                        Id
                        illo nemo nostrum similique. Enim maiores molestias pariatur. Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Commodi, pariatur, quibusdam. Animi
                        assumenda corporis delectus ducimus enim illo illum porro quos repudiandae soluta tenetur vero
                        vitae, voluptatum. Commodi laudantium, quisquam. A at deleniti deserunt excepturi ipsum,
                        laudantium
                        nihil qui. Adipisci error, esse in
                        iusto laborum laudantium modi molestiae mollitia necessitatibus odit porro, quaerat unde velit?
                        Id
                        illo nemo nostrum similique. Enim maiores molestias pariatur.</p>
                    <h2 class="mb-3 mt-3 text-center">Titre de l'article et image en bg</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, pariatur, quibusdam. Animi
                        assumenda corporis delectus ducimus enim illo illum porro quos repudiandae soluta tenetur vero
                        vitae, voluptatum. Commodi laudantium, quisquam. A at deleniti deserunt excepturi ipsum,
                        laudantium
                        nihil qui. Adipisci error, esse in
                        iusto laborum laudantium modi molestiae mollitia necessitatibus odit porro, quaerat unde velit?
                        Id
                        illo nemo nostrum similique. Enim maiores molestias pariatur. Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Commodi, pariatur, quibusdam. Animi
                        assumenda corporis delectus ducimus enim illo illum porro quos repudiandae soluta tenetur vero
                        vitae, voluptatum. Commodi laudantium, quisquam. A at deleniti deserunt excepturi ipsum,
                        laudantium
                        nihil qui. Adipisci error, esse in
                        iusto laborum laudantium modi molestiae mollitia necessitatibus odit porro, quaerat unde velit?
                        Id
                        illo nemo nostrum similique. Enim maiores molestias pariatur.</p>
                    <h2 class="mb-3 mt-3 text-center">Titre de l'article et image en bg</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, pariatur, quibusdam. Animi
                        assumenda corporis delectus ducimus enim illo illum porro quos repudiandae soluta tenetur vero
                        vitae, voluptatum. Commodi laudantium, quisquam. A at deleniti deserunt excepturi ipsum,
                        laudantium
                        nihil qui. Adipisci error, esse in
                        iusto laborum laudantium modi molestiae mollitia necessitatibus odit porro, quaerat unde velit?
                        Id
                        illo nemo nostrum similique. Enim maiores molestias pariatur. Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Commodi, pariatur, quibusdam. Animi
                        assumenda corporis delectus ducimus enim illo illum porro quos repudiandae soluta tenetur vero
                        vitae, voluptatum. Commodi laudantium, quisquam. A at deleniti deserunt excepturi ipsum,
                        laudantium
                        nihil qui. Adipisci error, esse in
                        iusto laborum laudantium modi molestiae mollitia necessitatibus odit porro, quaerat unde velit?
                        Id
                        illo nemo nostrum similique. Enim maiores molestias pariatur.</p>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

